*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.main{
    background-color: rgb(37,37,37);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main2{
    width: 400px;
    border-radius: 1.5rem;
    background: linear-gradient(135deg,#00e,#5b548a);
    padding: 40px 20px;
    color: white;
    text-align: center;

}
.main3{
display: flex;
justify-content: space-between;
align-items: center;
}
.main3 input{
    padding: 16px 20px;
    border-radius: 2rem;
    outline: none;
    border: none;
    width: 80%;
    font-size: 18px;

}
.main3 button{
    padding: 15px 20px;
    border-radius: 100%;
    border: none;
    outline: none;
    font: 18px;
}
.cityname{

}
.cityname h1{
    font-weight: 400;
    margin-top: 40px;
}
.cityname img{
    height: 60%;
   width: 40%; 
}
#temp{
    font-size: 50px;
    font-weight: 400;
}
#present{
    font-size: 16px;
    letter-spacing: 0.8px;
    text-transform: capitalize
}
.deg{
    padding: 20px 20px;
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}
#error{
    font-size: 14px;
    margin-top: 18px;
    display: none;
}